<div class ="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>CLIENTES</h1>
    </div>
  </div>
  <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">NIT</th>
      <th scope="col">CreadoPor</th>
      <th scope="col">Facturas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clientes">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nombre}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.nit}}</td>
      <td>{{item.creado_por}}</td>
      <td><button type="button" (click)="Oncapturar(item)" class="btn btn-success btn-block">Facturas</button></td>
    </tr>

  </tbody>
</table>
</div>
